* {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  border: none;
  outline: none;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 2rem;
  color: #fff;
  background-color: #259a96;
}

.birds {
  position: fixed;
  left: 2rem;
  top: 2rem;
  opacity: 0.2;
  z-index: 1;
}

.year {
  font-size: 2.4rem;
  font-weight: bold;
}

.banner-title {
  font-size: 3.5rem;
  margin: 0;
}

.search-field {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-top: 1rem;
  background-color: #ffffff63;
  z-index: 99;
}

.search-field::placeholder {
  color: #fff;
}

.search-field:focus {
  outline: 1px solid #fff;
}

.home-container {
  display: grid;
  text-align: right;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 99;
}

.speccy-card {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 2rem;
}

.arrow {
  width: 20px;
  margin-bottom: 2rem;
}

.light {
  color: #fff;
  background-color: #1e8380be;
}

.dark {
  color: #fff;
  background-color: #156764be;
}

.speccy-title {
  font-weight: normal;
}
